<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h4>Drivers List</h4>
            </div>
            <div class="col-md-4 col-sm-12 float-right">
              <button class="btn btn-sm btn-info float-right" (click)="retrieveUsers()">
                Add new driver
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="list row">
            <!-- Driver List ************************************************************* -->
            <div class="col-md-4 col-sm-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <p>Search Using <span class="text-primary">{{filterTye }}</span> </p>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio_driverid"
                          value="driverId"
                          (change)="onItemChange_driverID($event.target.value)" />
                        <label class="form-check-label" for="inlineRadio1">Driver Id</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio_nic"
                          value="nic"  (change)="onItemChange_nic($event.target.value)" />
                        <label class="form-check-label" for="inlineRadio2">NIC No</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio_name"
                          value="name"  (change)="onItemChange_name($event.target.value)" />
                        <label class="form-check-label" for="inlineRadio2">Name</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio_email"
                          value="email"  (change)="onItemChange_email($event.target.value)" />
                        <label class="form-check-label" for="inlineRadio2">E-Mail</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio_mobile"
                          value="mobile"  (change)="onItemChange_mobile($event.target.value)" />
                        <label class="form-check-label" for="inlineRadio2">Mobile</label>
                      </div>
                      <div class="input-group mb-3">
                        <input [(ngModel)]="txt_svalue" id="txt_svalue1" type="text" class="form-control"
                          placeholder="Recipient's username" aria-label="Recipient's username"
                          aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="onclick_driversearch()" type="button"
                            id="button-addon2">Button</button>
                        </div>
                      </div>
                      <label *ngIf="!txt_svalue" class="form-check-label text-danger" for="txt_svalue1">Need to enter
                        search value</label>

                    </div>
                  </div>
                </div>
              </div>
              <!-- Driver Search functions ************************************************************* -->
              <!-- Driver List View************************************************************* -->
              <div class="row">
                <div class="col-md-12">
                  <ul class="list-group">
                    <ng-container *ngIf="!issearchusingKey">
                    <li class="list-group-item" *ngFor="let user of users; let i = index"
                      [class.active]="i == currentIndex" (click)="click_on(user, i)">
                      <div>
                        <h5> <strong class="text-primary">{{ user.fullName }}</strong></h5>
                      </div>
                      <small><i class="fa fa-envelope fa-lg mr-1" aria-hidden="true"></i>{{user.email}}</small>
                      <small><strong><i class="fa fa-mobile fa-lg mr-1"
                            aria-hidden="true"></i>{{user.phoneNumber}}</strong> </small>
                      <span class="badge badge-danger">Driver Offline</span>
                      <button class="btn btn-sm btn-info float-right" (click)="click_user(user, i)">
                        View Details
                      </button>
                    </li>
                  </ng-container>
                  <ng-container *ngIf="issearchusingKey && singleUser">
                    <li class="list-group-item" (click)="click_on(singleUser, 0)" >
                    <div>
                      <h5> <strong class="text-primary">{{ singleUser.fullName }}</strong></h5>
                    </div>
                    <small><i class="fa fa-envelope fa-lg mr-1" aria-hidden="true"></i>{{singleUser.email}}</small>
                    <small><strong><i class="fa fa-mobile fa-lg mr-1"
                          aria-hidden="true"></i>{{singleUser.phoneNumber}}</strong> </small>
                    <span class="badge badge-danger">Driver Offline</span>
                    <button class="btn btn-sm btn-info float-right" (click)="click_user(singleUser, 0)">
                      View Details
                    </button>
                  </li>
                </ng-container>

                  </ul>
                </div>
              </div>
              <!-- END OF Driver List View************************************************************* -->
            </div>
            <!-- END oF Driver List ************************************************************* -->



            <div class="col-md-8 col-sm-12">
              <div class="row">
                <div class="col-sm-12" *ngIf="selectedrecord">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12" *ngIf="selectedrecord">
                          <h5> <strong class="text-primary">{{ selectedrecord.fullName }}</strong></h5>
                          <h5 class="text-dark"> <i class="fa fa-car fa-lg mr-2" aria-hidden="true"></i>
                            <small class="text-secondary">Make</small> <strong>
                              {{selectedrecord.vehicle_details.make}}</strong>
                            <span class="ml-1"> <small class="text-secondary">Model</small> <strong>
                                {{selectedrecord.vehicle_details.model}} </strong></span>
                            <span class="ml-4"> <small class="text-secondary">Color</small><strong>
                                {{selectedrecord.vehicle_details.color}} </strong></span>
                            <span class="ml-4"> <small class="text-secondary">Plate No </small> <strong>
                                {{selectedrecord.vehicle_details.fleetNo}}
                              </strong></span>
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12" *ngIf="selectedrecord">
                  <div class="card">
                    <div class="card-header">
                      <h5> <strong class="text-primary">{{ selectedrecord.fullName }}</strong></h5>

                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Set Status of the User <small> Current:  <span class="badge bg-danger">{{ selectedrecord.accountStatus }} </span> </small></h5>
                            <button type="button" (click)="click_SetStatus(selectedrecord,1)" class="btn btn-primary"><span class="cil-contrast btn-icon mr-2"></span> Vehicle Details Not Compete</button>
                            <button type="button" (click)="click_SetStatus(selectedrecord,2)" class="btn btn-primary"><span class="cil-contrast btn-icon mr-2"></span> Image Details Not Compete</button>
                            <button type="button" (click)="click_SetStatus(selectedrecord,3)" class="btn btn-success"><span class="cil-contrast btn-icon mr-2"></span> Activate User</button>
                            <button type="button" (click)="click_SetStatus(selectedrecord,4)" class="btn btn-primary"><span class="cil-contrast btn-icon mr-2"></span> Set User Pending</button>
                            <button type="button" (click)="click_SetStatus(selectedrecord,5)" class="btn btn-danger"><span class="cil-contrast btn-icon mr-2"></span> Ban The User</button>
                          </div>

                        </div>




                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
