

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h4>Dispatcher</h4>
            </div>
          </div>
        </div>

        <div class="card-body">


          <!-- driver and map row -->
          <div class="list row">
            <!-- drivers list and driver search -->
            <div class="col-md-3 col-sm-12">
              <!-- driver search -->
              <div class="list row">
                <div class="col-md-12 col-sm-12">
                <div class="input-group mb-4">
                  <input type="text" class="form-control" placeholder="Search" autocomplete="search" required>
                </div>
              </div>
              </div>
              <!-- Driver list -->
              <div class="list row">
                <div class="col-md-12 col-sm-12">
                  <ul class="list-group">
                    <li class="list-group-item p-1" *ngFor="let user of users; let i = index"
                      [class.active]="i == currentIndex" (click)="click_on(user, i)">
                      <p class="mb-0"> <strong class="text-primary">{{ user.fullName }}</strong></p>
                      <small><i class="fa fa-envelope fa-lg mr-1" aria-hidden="true"></i>{{user.email}}</small>
                      <small><strong><i class="fa fa-mobile fa-lg mr-1"
                            aria-hidden="true"></i>{{user.phoneNumber}}</strong> </small>
                      <span class="badge badge-danger">Driver Offline</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- google map view -->
            <div class="col-md-9 col-sm-12">
              <div #maps id="maps">Loading</div>



            </div>
          </div>


        </div>

      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
